---
layout: archive
title: "Course Work"
permalink: /coursework/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

Past Courses
======
<table>
  <tr>
    <th>Course Code</th>
    <th>Name</th>
  </tr>
  <tr>
    <td>AER210</td>
    <td>Vector Calculus and Fluid Mechanics</td>
  </tr>
  <tr>
    <td>ECE259</td>
    <td>Electromagnetism</td>
  </tr>
  <tr>
    <td>ECE286</td>
    <td>Probability and Statistics</td>
  </tr>
  <tr>
    <td>ECE253</td>
    <td>Digital and Computer Systems</td>
  </tr>  
  <tr>
    <th>CHE260</th>
    <th>Thermodynamics and Heat Transfer</th>
  </tr>
  <tr>
    <td>MAT292</td>
    <td>Ordinary Differential Equations</td>
  </tr>
  <tr>
    <td>BME205</td>
    <td>Fundamentals of Biomedical Engineering</td>
  </tr>
  <tr>
    <td>PHY294</td>
    <td>Quantum and Thermal Physics</td>
  </tr>
  <tr>
    <td>APS420</td>
    <td>Technology, Engineering and Global Development</td>
  </tr>
  <tr>
    <td>ESC204</td>
    <td>Praxis III</td>
  </tr>
  <tr>
    <td>PHY293</td>
    <td>Waves and Modern Physics</td>
  </tr>
  <tr>
    <td>ESC203</td>
    <td>Engineering and Society</td>
  </tr>
  
</table>


