---
layout: archive
title: "Course Work"
permalink: /coursework/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<h2>Past Courses</h2>
<br>

<table>
  <thead>
    <tr>
      <th>Course Code</th>
      <th>Name</th>
    </tr>
  </thead> 
  <tbody>
    <tr>
      <td>AER210</td>
      <td>Vector Calculus and Fluid Mechanics</td>
    </tr>
    <tr>
      <td>ECE259</td>
      <td>Electromagnetism</td>
    </tr>
    <tr>
      <td>ECE286</td>
      <td>Probability and Statistics</td>
    </tr>
    <tr>
      <td>ECE253</td>
      <td>Digital and Computer Systems</td>
    </tr>  
    <tr>
      <td>CHE260</th>
      <td>Thermodynamics and Heat Transfer</th>
    </tr>
    <tr>
      <td>MAT292</td>
      <td>Ordinary Differential Equations</td>
    </tr>
    <tr>
      <td>BME205</td>
      <td>Fundamentals of Biomedical Engineering</td>
    </tr>
    <tr>
      <td>PHY294</td>
      <td>Quantum and Thermal Physics</td>
    </tr>
    <tr>
      <td>APS420</td>
      <td>Technology, Engineering and Global Development</td>
    </tr>
    <tr>
      <td>ESC204</td>
      <td>Praxis III</td>
    </tr>
    <tr>
      <td>PHY293</td>
      <td>Waves and Modern Physics</td>
    </tr>
    <tr>
      <td>ESC203</td>
      <td>Engineering and Society</td>
    </tr>
  </tbody>
  
</table>

<table>
  <tbody>
    <tr>
      <td>ECE190</td>
      <td>Computer Algorithms and Data Structures</td>
    </tr>
    <tr>
      <td>ECE159</td>
      <td>Fundamentals of Electric Circuits</td>
    </tr>
    <tr>
      <td>ESC195</td>
      <td>Calculus II</td>
    </tr>
    <tr>
      <td>MAT185</td>
      <td>Linear Algebra</td>
    </tr>
    <tr>
      <td>ESC102</td>
      <td>Praxis II</td>
    </tr>
    <tr>
      <td>ESC101</td>
      <td>Praxis I</td>
    </tr>
    <tr>
      <td>ESC180</td>
      <td>Introduction to Computer Programming</td>
    </tr>
    <tr>
      <td>CIV102</td>
      <td>Structures and Materials - An Introduction to Engineering Design</td>
    </tr>
    <tr>
      <td>ESC194</td>
      <td>Calculus I</td>
    </tr>
    <tr>
      <td>PHY180</td>
      <td>Classical Mechanics</td>
    </tr>
    <tr>
      <td>MSE160</td>
      <td>Molecules and Materials</td>
    </tr>
    <tr>
      <td>ESC103</td>
      <td>Engineering Mathematics and Computation</td>
    </tr>
  </tbody>
</table>
